---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro'
import CardBlog from '@/components/ui/cards/CardBlog.astro';
import CardBlogRecent from "@components/ui/cards/CardBlogRecent.astro";

// Get all blogs post and sort them based on publish date
const allPosts = await Astro.glob('../pages/posts/*.md');

allPosts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.pubDate);
  const dateB = new Date(b.frontmatter.pubDate);
  return dateB.getTime() - dateA.getTime();   
});

const otherPosts = allPosts.slice(1);
const mostRecentPost = allPosts[0];

const pageTitle = "Blog";
const title: string = "Belgrano al día";
const subTitle: string =
  "Mantenete informado sobre todas las novedades del Club Atlético Belgrano. Noticias, entrevistas, análisis y estadísticas."
---

<BaseLayout pageTitle={pageTitle}>
    <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        {title}
      </h1>

      <p
        class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  </section>

  <section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <CardBlogRecent blogEntry={mostRecentPost} />
</section>

  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <!--Blog posts grid-->
    <div class="grid gap-6 lg:grid-cols-2">
      {
        otherPosts.map((post) =>
          <CardBlog
            title={post.frontmatter.title} 
            url={post.url} 
            image={post.frontmatter.image.url}
            alt={post.frontmatter.image.alt}
            author={post.frontmatter.author}
            date={post.frontmatter.pubDate}
            />
          )
      }
    </div>
  </section>
  
</BaseLayout>
